

.videoSection {
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: row;
    height: 100px;
    padding-top: 30px;
   
    
}

.videoCard{
    display: flex;
    flex-wrap: wrap;
   
    gap: 20px;
    

}
.video{
    width: 150px;
    height: 150px;
    z-index: 250;
}

.card{
    position: relative;
    left: 250px;
    width: 200px;
    height: 200px;
    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
  
    color: black;

}

p1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;

}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;

}





 