* {
    margin: 0;
    padding: 0;
}

#sidebar {
   position: fixed;
   width: 200px;
   height: 100%;
   background-color: white;
   left: -200px;
   transition: all 500ms linear;
}

#sidebar.active{
left:0
}

.sus{
    border-bottom: 1px solid;
}
#sidebar ul li {
   margin-top: 20px;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.logo{
    height: 30px;
    width: 90px;
}

#sidebar .toggle-btn {
    position: absolute;
    cursor: pointer;

}

#sidebar .toggle-btn span {
display: block;
width: 30px;
text-align: center;
font-size: 20px;
margin-left: 230px;
margin-top: 15px;
}